@{
    ViewData["Title"] = "Employees";
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Roles</th>
        </tr>
        @for (int i = 1; i <= 3; i++)
        {
            <tr>
                <td>Bob @i</td>
                <td>Kitchen</td>
                <td>
                    <select multiple>
                        <option>INGREDIENT</option>
                        <option>DISH</option>
                        <option>MENU</option>
                        <option>MENUCARD</option>
                        <option>TABLE</option>
                        <option>FLOORPLAN</option>
                        <option>BOOKING</option>
                        <option>ORDER</option>
                    </select>
                </td>
            </tr>
        }
    </table>
</div>
