@model Horeca.MVC.Models.Ingredients.UnitViewModel

<div class="text-center">
    <div class="shadow card bg-light mt-3">
        <div class="card-header bg-dark">
            <h1>Create Unit</h1>
        </div>
        <form class="w-75 mx-auto">
            <div class="mt-2">
                <label asp-for="Name" class="form-label text-black">Name</label>
                <input asp-for="Name" class="form-control text-black" id="name" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-2 mb-2">
                <input type="submit" value="Create" formmethod="post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>