@using Horeca.MVC.Models.Accounts
@model Horeca.MVC.Models.Restaurants.MutateEmployeeViewModel

<div class="text-center">
    <div class="shadow card bg-light">
        <div class="card-header bg-dark">
            <h1>Add Employee</h1>
        </div>
        <form asp-action="AddEmployee" class="w-75 mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2" style="display: none">
                <label asp-for="RestaurantId" class="control-label text-black"></label>
                <input asp-for="RestaurantId" class="form-control text-black" readonly="readonly" />
                <span asp-validation-for="RestaurantId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="EmployeeId" class="control-label text-black">Select an employee</label>
                <select asp-for="EmployeeId" asp-items="@(new SelectList(Model.Employees,
                    "Id", "Username"))" class="form-control text-black">
                    <option value="0" class="text-black">Please select</option>
                </select>
            </div>
            <div class="form-group mt-2 mb-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
            </div>
        </form>
    </div>
</div>