@using Horeca.MVC.Models.MenuCards
@model Horeca.MVC.Models.MenuCards.MutateRestaurantMenuCardViewModel

<div class="text-center">
    <div class="shadow card bg-light mt-3">
        <div class="card-header bg-dark">
            <h1>Add Menu Card</h1>
        </div>
        <form asp-action="AddMenuCard" class="w-75 mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2" style="display: none">
                <label asp-for="RestaurantId" class="control-label text-black"></label>
                <input asp-for="RestaurantId" class="form-control text-black readonly="readonly"/>
                <span asp-validation-for="RestaurantId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="MenuCardId" class="control-label text-black">Select Menu Card</label>
                <select asp-for="MenuCardId" asp-items="@(new SelectList(Model.MenuCards, 
                    "Id", "Name"))" class="form-control text-black">
                  
                </select>
            </div>
            <div class="form-group mt-2 mb-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
            </div>
        </form>
    </div>
</div>