@model Horeca.MVC.Models.Restaurants.RestaurantListViewModel

@{
    ViewData["Title"] = "Restaurant Overview";
}

<div class="text-center">
    <h1 class="display-4">Restaurants</h1>
    <div class="container">
        <div class="row">
            <div class="col input-group">
                <div class="form-outline">
                    <input type="search" class="form-control" placeholder="Search..." />
                </div>
            </div>
            <div class="col">
                @if (accountService.Authorize("Restaurant_Create"))
                {
                    <a asp-action="Create" class="btn btn-primary float-end">New Restaurant</a>
                }
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover mt-2">
            <thead>
                <tr>
                    <th scope="col" class="col-9">Name</th>
                    <th scope="col" class="col-3">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var restaurant in Model.Restaurants)
                {
                    <tr>
                        <td>@restaurant.Name</td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@restaurant.Id" class="btn btn-primary">Details</a>
                            @if (accountService.Authorize("Restaurant_Update"))
                            {
                                <a asp-action="Edit" asp-route-id="@restaurant.Id" class="btn btn-primary">Edit</a>
                            }

                            @if (accountService.Authorize("Restaurant_Delete"))
                            {
                                <button id="toDeleteModal" type="button" class="modalbutton btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" data-id="@restaurant.Id">
                                    Delete
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="deleteModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Dish</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this dish?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteButton" asp-action="Delete" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $(document).on("click","#toDeleteModal",OpenModalDelete);
    });

    function OpenModalDelete(){
       var itemId = $(this).data("id");
       $('#deleteButton').attr('href', "/Restaurant/Delete/" + itemId)
       $("#deleteModal").modal();
    }
</script>