@model Horeca.MVC.Models.Menus.MenuViewModel

@{
    ViewData["Title"] = "Create Menu";
}

<div class="text-center">
    <h1 class="display-4">Create a new Menu</h1>
    <div>
        <form class="w-75 mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control row-3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <input type="submit" value="Create" formmethod="post" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>