@{
    ViewData["Title"] = "Create Booking";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div>
        <form class="w-75 mx-auto">
            <div class="mt-2">
                <label for="Seats" class="form-label">Seats</label>
                <input for="Seats" class="form-control" id="seats" placeholder="Seats">
            </div>
            <div class="mt-2">
                <label for="Contact" class="form-label">Contact</label>
                <input for="Contact" class="form-control" id="contact" placeholder="Contact">
            </div>
            <div class="mt-2">
                <input type="submit" value="Create" formmethod="post" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>