@model Horeca.MVC.Models.Ingredients.ExistingIngredientsViewModel

<div class="text-center">
    <h1 class="display-4">Add Existing Ingredient</h1>
    <div>
        <form asp-action="AddExistingIngredient" class="w-75 mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="IngredientId" class="control-label">Pick an ingredient:</label>
                <select asp-for="IngredientId" asp-items="@(new SelectList(Model.Ingredients, "IngredientId", "Name"))" class="form-control">
                </select>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Add" class="btn btn-primary" />
                <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
            </div>
        </form>
    </div>
</div>