@{
    ViewData["Title"] = "Dish Detail";
}

<div class="text-center">
    <div class="d-flex">
        <img src="https://www.solo.be/uploadedimages/recepten/afbeeldingen/168331-biefstuk-friet.jpg" alt="steak and fries" 
            class="img-thumbnail" style="max-width: 50%" />
        <div class="d-flex flex-column">
            <h1 class="display-4">Steak & Fries</h1>
            <table class="table" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Dish Type</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Steak & Fries</td>
                        <td>Main Course</td>
                        <td>Meat</td>
                    <tr/>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr class="d-flex flex-column">
                        <th scope="col">Description</th>
                        <td scope="row">
                            Steak frites, meaning "steak and fries" in French, is a very common and popular dish served in
                            brasseries throughout Europe consisting of steak paired with French fries. It is considered by some to be the
                            national dish of Belgium, which claims to be the place of its invention.
                        </td>
                    </tr>
                    <tr class="d-flex flex-column">
                        <th scope="col" colspan="2">Ingredients</th>
                        <td scope="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Unit</t>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-controller="Ingredient">Steak</a>
                                        </td>
                                        <td>400</td>
                                        <td>grams</td>
                                    </tr>
                                    <tr>
                                        <td>Fries</td>
                                        <td>100</td>
                                        <td>grams</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td scope="row">
                            <a asp-action="Edit" class="btn btn-primary">Edit</a>
                            <a asp-action="Index" class="btn btn-secondary">Go Back</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>