@model Horeca.MVC.Models.Dishes.DishViewModel

@{
    ViewData["Title"] = "Edit Dish";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div>
        <form asp-action="Edit" class="w-75 mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="DishType" class="control-label"></label>
                <input asp-for="DishType" class="form-control" />
                <span asp-validation-for="DishType" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control row-3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Detail" asp-route-id="@Model.DishId" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section scripts {
<script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
<script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}