@{
    ViewData["Title"] = "Edit Dish";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div>
        <div class="w-75 mx-auto">
            <div class="mt-2">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="mt-2">
                <label for="dishType" class="form-label">Dish Type</label>
                <input type="text" class="form-control" id="dishType" placeholder="Dish Type">
            </div>
            <div class="mt-2">
                <label for="category" class="form-label">Category</label>
                <input type="text" class="form-control" id="category" placeholder="Category">
            </div>
            <div class="mt-2">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            <div class="mt-2">
                <select class="form-select" aria-label="Dishes">
                    <option selected>Ingredients</option>
                    @for(int i = 0; i < 5; i++)
                    {
                        <option value="@i">Ingredient @i</option>
                    }
                </select>
            </div>
            @*<div class="mt-2">
                <label for="dishImg" class="form-label">Dish Image</label>
                <input class="form-control" type="file" id="dishImg">
            </div>*@
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Edit</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>