<div class="text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none" asp-controller="Restaurant" asp-action="Index" asp-route-id="@accountService.GetCurrentUser().Id">
                    Restaurants
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none" asp-controller="Restaurant" asp-action="Detail" asp-route-id="@restaurantService.GetCurrentRestaurantId()">
                    @restaurantService.GetCurrentRestaurantName()
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Floor Plan</li>
        </ol>
    </nav>
    <div class="shadow card bg-light mt-3">
        <div class="card-header bg-dark">
            <h1>Floor Plan</h1>
        </div>
        <div class="container">
        <div class="row" style="height: 500px;">
            <div class="col-3 border-end border-dark d-flex flex-column justify-content-start align-items-center">
                <a class="btn btn-primary m-2">Add Object</a>
                <a class="btn btn-primary m-2">Change dimensions</a>
            </div>
            <div class="col-9">
                actual floor plan here
            </div>
        </div>
        </div>
    </div>
</div>