@model Horeca.MVC.Models.Accounts.RegisterUserViewModel

<div class="text-center w-75 mx-auto">
    <div class="card mt-3 bg-light">
        <div class="card-header bg-dark">
            <h1>Register</h1>
        </div>
        <form class="w-75 mx-auto">
            <div class="mt-2">
                <label asp-for="Username" class="form-label text-black">Username</label>
                <input asp-for="Username" class="form-control text-black" id="username" placeholder="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="Email" class="form-label text-black">Email</label>
                <input asp-for="Email" class="form-control text-black" id="email" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="Password" class="form-label text-black">Password</label>
                <input asp-for="Password" type="password" class="form-control text-black" id="password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mt-2 mb-2">
                <input type="submit" value="Register" formmethod="post" class="btn btn-primary text-white" />
                <a href="javascript:history.back()" class="btn btn-secondary text-white">Go Back</a>
            </div>
        </form>
    </div>
</div>