@model Horeca.MVC.Models.Accounts.RegisterUserViewModel

<div class="text-center">
    <h1 class="display-4">Register</h1>
    <div class="container">
        <form class="w-50 mx-auto">
            <div class="mt-2">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control" id="username" placeholder="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" id="email" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <input type="submit" value="Register" formmethod="post" class="btn btn-primary" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>