@model HorecaMVC.Models.Ingredients.IngredientViewModel

@{
    ViewData["Title"] = "Ingredient Create";
}

<div class="text-center">
    <h1 class="display-4">Create a new Ingredient</h1>
    <div>
        <form class="w-75 mx-auto">
            <div class="mt-2">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="mt-2">
                <label asp-for="IngredientType" class="form-label">Type</label>
                <input asp-for="IngredientType" class="form-control" id="ingredientType" placeholder="Ingredient Type">
            </div>
            <div class="mt-2">
                <label asp-for="BaseAmount" class="form-label">Base Amount</label>
                <input asp-for="BaseAmount" class="form-control" id="baseAmount" placeholder="Base Amount">
            </div>
            <div class="mt-2">
                <label asp-for="Unit.Name" class="form-label">Unit</label>
                <input asp-for="Unit.Name" class="form-control" id="unitName" placeholder="Unit">
            </div>
            @*<div class="mt-2">
                <label for="ingredientImg" class="form-label">Ingredient Image</label>
                <input class="form-control" type="file" id="ingredientImg">
            </div>*@
            <div class="mt-2">
                <input type="submit" value="Create" formmethod="post" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>