/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Basic changes */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

btn {
    margin-top: 2px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #C3CDD5;
    border-color: #dee2e6 #dee2e6 #9FB1BC;
    border-bottom: 0px;
}

.canvas_container {
    position: relative;
}

#drawing-area {
    border: 1px solid #ccc;
}

#shapes {
    /*overflow-y: scroll;*/
    height: auto;
}

    #shapes ul {
        list-style: none;
        padding: 0;
        margin: 5px 0 0 0;
    }

    #shapes li {
        padding: 0;
        margin: 0;
        margin: 0 10px 5px 5px;
    }

        #shapes li img {
            background: #fff;
            padding: 5px;
            max-height: 200px;
            -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
            -moz-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
            box-shadow: rgba(0,0,0,0.3) 0 0 3px;
        }

            #shapes li img:hover {
                -webkit-box-shadow: rgba(0,0,255,0.5) 0 0 3px;
                -moz-box-shadow: rgba(0,0,255,0.5) 0 0 3px;
                box-shadow: rgba(0,0,255,0.5) 0 0 3px;
            }

            #shapes li img:active {
                -webkit-box-shadow: rgba(0,0,0,0.7) 0 0 3px;
                -moz-box-shadow: rgba(0,0,0,0.7) 0 0 3px;
                box-shadow: rgba(0,0,0,0.7) 0 0 3px;
            }

a {
    text-decoration: none;
}

    a:active {
        text-shadow: rgba(0,0,0,0.2) 0 0 2px;
    }

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

    /* We tell all items to be 100% width, via flex-basis */
    .wrapper > * {
        flex: 1 100%;
    }

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    .aside {
        flex: 1 auto;
    }
}

/* Large screens */
@media all and (min-width: 800px) {
    /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
    .main {
        flex: 3 0px;
    }

    .aside-1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .footer {
        order: 4;
    }
}